<%
		hilite_color = nil
		div_class = nil
		
		if flash[:error]
		 	hilite_color = '#FF0000'
		 	div_class    = 'alert-danger'
	    elsif flash[:success]
		 	hilite_color = '#74be29'
		 	div_class    = 'alert-success'
		elsif flash[:info]
		else
		end			
%>

<div id="Flash" class="alert <%= div_class %> <%= 'empty' if flash.empty? %>">
	<%= flash[:error]||flash[:success]||flash[:info] %><%#= Time.now %>
</div>

<% if hilite_color %>
	<script>
		$(document).ready(function() {
			$('#Flash').effect('highlight', {color: '<%= hilite_color %>' }, 1500);
		});
	</script>
<% end %>
